doctype html 
html 
  head 
    title Boom Boom Dance Academy 
    style 
     include ../static/style.css
    body 
      div#main
        h1 This is mine website 
      div#container
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae odit dolorem, iure quidem natus sunt, cumque quaerat quisquam eligendi rerum nihil nam fugit, quam dignissimos distinctio! Veniam adipisci quidem in error necessitatibus incidunt et harum facilis cupiditate sit quia doloribus neque eum consectetur, blanditiis esse iste iure eius! Repudiandae nemo recusandae eius id perferendis voluptates, aut a dignissimos accusamus, illum incidunt repellat atque facilis ullam minus expedita explicabo, quisquam rerum quod pariatur. Laborum minus id tempora at ullam modi accusamus reprehenderit natus animi dicta. Voluptas, eos! Velit, facere! Porro velit blanditiis, in unde facilis excepturi repellat! Facilis quo qui incidunt?